<div class="container">
    <div class="content has-text-centered">
        <h2 class="title is-2 has-league">{{model}}</h2>
    </div>
</div>
<div class="container">
    <div class="content has-text-centered">
        <div class="split-title">
        <span class="legend-clinched">Clinch Playoffs</span><span class="legend-eliminated">Eliminated</span>
        </div>
    </div>
</div>

<div class="tabs" id="tab-league">
  <ul>
    <li><a id="lcs">LCS</a></li>
    <li><a id="lec">LEC</a></li>
    <li><a id="lpl">LPL</a></li>
    <li><a id="lck">LCK</a></li>
  </ul>
</div>
<div class="tabs" id="tab-update">
  <ul>
    <li class="is-active"><a id="cumulative">Cumulative Record</a></li>
    <li><a id="split">Split Record</a></li>
  </ul>
</div>