<div class="container">
    <div class="content has-text-centered">
        <h2 class="title is-2">{{model}}</h2>
    </div>
</div>
<div class="container">
    <div class="content has-text-centered">
        <div class="split-title">
        <span class="legend-bye">Clinch Bye</span><span class="legend-clinched">Clinch Playoffs</span><span class="legend-eliminated">Eliminated</span>
        </div>
    </div>
</div>
